.method-dock {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 38px;

    margin: 5px;

    background-color: #333333;
}

.path-dock {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 38px;

    margin-right: 5px;

    background-color: #333333;
}

.key-dock {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 150px;
    height: 38px;

    margin: 5px;

    background-color: #333333;
}

.item-dock {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 150px;
    height: 38px;

    margin: 5px;

    background-color: #333333;
}