h3 {
    margin: 0px;
}

.method-tile {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 38px;

    background-color: dodgerblue;
}

.item-tile {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 150px;
    height: 38px;

    background-color: green;
}

.key-tile {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 150px;
    height: 38px;

    background-color: darkorange;
}

.path-tile {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 38px;

    background-color: burlywood;
}