@font-face {
    font-family: 'PixelOperatorMono';
    src: url('./pixeloperator/pixeloperatormono-webfont.woff2') format('woff2'), /* Super Modern Browsers */
    url('./pixeloperator/pixeloperatormono-webfont.woff') format('woff'), /* Pretty Modern Browsers */
    url('./pixeloperator/PixelOperatorMono.ttf')  format('truetype') /* Safari, Android, iOS */
}

@font-face {
    font-family: 'PixelOperatorMonoBold';
    src: url('./pixeloperator/pixeloperatormono-bold-webfont.woff2') format('woff2'), /* Super Modern Browsers */
    url('./pixeloperator/pixeloperatormono-bold-webfont.woff') format('woff'), /* Pretty Modern Browsers */
    url('./pixeloperator/PixelOperatorMono-Bold.ttf')  format('truetype') /* Safari, Android, iOS */
}

@font-face {
    font-family: 'PixelOperatorBold';
    src: url('./pixeloperator/pixeloperator-bold-webfont.woff2') format('woff2'), /* Super Modern Browsers */
    url('./pixeloperator/pixeloperator-bold-webfont.woff') format('woff'), /* Pretty Modern Browsers */
    url('./pixeloperator/PixelOperator-Bold.ttf')  format('truetype') /* Safari, Android, iOS */
}

@font-face {
    font-family: 'PixelOperator';
    src: url('./pixeloperator/pixeloperator-webfont.woff2') format('woff2'), /* Super Modern Browsers */
    url('./pixeloperator/pixeloperator-webfont.woff') format('woff'), /* Pretty Modern Browsers */
    url('./pixeloperator/PixelOperator.ttf')  format('truetype') /* Safari, Android, iOS */
}