.method-container {
    display: flex;
    flex-direction: column;

    grid-column-start: left-mod-start;
    grid-column-end: left-mod-end;
    grid-row-start: center-mod-start;
    grid-row-end: center-mod-end;

    width: 100%;

    border: deeppink solid 1px;
}

.method-harbor {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;

    justify-content: flex-start;

    padding: 14px;
    border: chartreuse dashed 1px;
}