.key-container {
    display: flex;
    flex-direction: column;

    grid-column-start: left-mod-start;
    grid-column-end: left-mod-end;
    grid-row-start: lower-mod-start;
    grid-row-end: lower-mod-end;

    width: 100%;

    border: deeppink solid 1px;
}