body{
    font-family: pixel operator;
    min-height: 100%;
    background-color: white;
}

a{
    margin-top: 1em;
    color: rebeccapurple;
    text-decoration: none;
}


footer{
    background-color: rgb(236, 240, 243);
    text-align: center;
    margin-top: 4em;
    height: 50px;
}