h3 {
    margin: 0px;
}

.methods-tile {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 38px;

    margin: 5px;

    background-color: dodgerblue;
}

.items-tile {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 150px;
    height: 38px;

    margin: 5px;

    background-color: green;
}

.keys-tile {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 150px;
    height: 38px;

    margin: 5px;

    background-color: darkorange;
}

.paths-tile {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 38px;

    background-color: burlywood;
}