body{
    font-family: pixel operator;
    min-height: 100%;
    background-color: white;
}

.game-screen {
    width: 900px;
}

a {
    margin-top: 1em;
    color: rebeccapurple;
    text-decoration: none;
}


footer{
    background-color: white;
    text-align: center;
    margin-top: 4em;
    height: 50px;
}