.method-dock {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 38px;

    margin: 5px;
    /* background-image: url('../assets/fills/dark-diag-fill.png'); */
    background-image: url('../assets/tile-svgs/method-dock.svg');
}

.path-dock {
    /* display: flex; */

    /* justify-content: flex-end; */
    /* align-items: center; */

    border-bottom: 38px solid #333333;
	border-left: 12px solid transparent;
	border-right: 50px solid #333333;

    transform: translateX();
    width: 100px;
    height: 0px;

    margin-right: 5px;
}

.path-dock .path-tile {
    width: 100px;
    transform: translateX(-12px);
}

.key-dock {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 130px;
    height: 38px;

    margin: 5px;

    background-color: #333333;
    /* background-image: url('../assets/fills/dark-diag-fill.png'); */
}

.item-dock {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 130px;
    height: 38px;

    margin: 5px;

    background-color: #333333;
    /* background-image: url('../assets/fills/dark-diag-fill.png'); */
}