.method-dock {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 38px;

    margin: 5px;

    background-color: gray;
}

.method-dock-subtract {
    position: absolute;
    top: 0%;
    right: 0%;
}

.path-dock {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: min-content;
    min-width: 100px;
    height: 38px;

    margin-right: 5px;

    background-color: #333333;
}

.path-dock-subtract {
    position: absolute;
    top: 0%;
    left: 0%;
}

.key-dock {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 130px;
    height: 38px;

    margin: 5px;

    background-color: #333333;
}

.item-dock {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 130px;
    height: 38px;

    margin: 5px;

    background-color: #333333;
}