:root {
    --default-tile-color: #70c5b3;
}

/* METHOD TILES */
.method-tile {
    position: relative;

    display: flex;

    border-top: 38px solid var(--default-tile-color);
	border-left: 50px solid var(--default-tile-color);
    border-right: 12px solid transparent;
    
    border-radius: 2px 0px 0px 2px;

    justify-content: center;
    align-items: center;

    width: 38px;
    height: 0px;
}

.method-tile h3 {
    position: absolute;
    transform: translate(-24.5px, -18.5px);
    margin: 0px;
    color: black;
}

/* PATH TILES */
.path-tile {
    position: relative;

    display: flex;

    border-bottom: 38px solid var(--default-tile-color);
	border-left: 12px solid transparent;
    border-right: 50px solid var(--default-tile-color);

    border-radius: 0px 2px 2px 0px;

    justify-content: center;
    align-items: center;

    width: 100px;
    height: 0px;
}

.path-tile h3 {
    transform: translate(24.5px, 18.5px);
    margin: 0px;
    color: black;
}

/* KEY TILES */
.key-tile {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 2px;

    width: 130px;
    height: 38px;

    background-color: var(--default-tile-color);
}

.key-tile h3 {
    margin: 0px;
    color: black;
}

/* ITEM TILES*/
.item-tile {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 2px;

    width: 130px;
    height: 38px;

    /* background-image: url(../assets/fills/textured-steel-fill.png); */
    background-color: var(--default-tile-color);
}

.item-tile h3 {
    margin: 0px;
    color: black;
    /* background-color: white; */
}