.path-container {
    display: flex;
    flex-direction: column;

    grid-column-start: right-mod-start;
    grid-column-end: right-mod-end;
    grid-row-start: center-mod-start;
    grid-row-end: lower-mod-end;

    width: 100%;

    border: deeppink solid 1px;
}

.path-map {
    flex-grow: 1;
    display: grid;

    grid-template-columns: 8% [tier-0-start] 1fr [tier-0-end] 5%
                           [tier-1-start] 1fr [tier-1-end] 5%
                           [tier-2-start] 1fr [tier-2-end] 5%
                           [tier-3-start] 1fr [tier-3-end] 8%;
    grid-template-rows: 10% [center6] 1fr [center5] 1fr [center4] 1fr [center3] 1fr
                        [center2] 1fr [center1] 1fr [center] 1fr [center-1] 1fr
                        [center-2] 1fr [center-3] 1fr [center-4] 1fr [center-5] 1fr
                        [center-6] 1fr [center-7] 1fr [center-8] 10%;

    border: coral dashed 1px;
}

.path-map p {
    margin: 0px;
}

/* Map Nodes */
/* Tier 0 */
#lobby-map-node {
    grid-column-start: tier-0-start;
    grid-row-start: center;
}

/* Tier 1 */
#research-wing-map-node {
    grid-column-start: tier-1-start;
    grid-row-start: center2;
}

#front-desk-map-node {
    grid-column-start: tier-1-start;
    grid-row-start: center;
}

#admin-wing-map-node {
    grid-column-start: tier-1-start;
    grid-row-start: center-2;
}

/* Tier 2 */
#labs-map-node {
    grid-column-start: tier-2-start;
    grid-row-start: center4;
}

#records-map-node {
    grid-column-start: tier-2-start;
    grid-row-start: center;
}

#computer-map-node {
    grid-column-start: tier-2-start;
    grid-row-start: center-2;
}

#offices-map-node {
    grid-column-start: tier-2-start;
    grid-row-start: center-4;
}

/* Tier 3 */
#vault-map-node {
    grid-column-start: tier-3-start;
    grid-row-start: center4;
}

#logs-map-node {
    grid-column-start: tier-3-start;
    grid-row-start: center2;
}

#blacklist-map-node {
    grid-column-start: tier-3-start;
    grid-row-start: center;
}

#lt-glass-map-node {
    grid-column-start: tier-3-start;
    grid-row-start: center-4;
}

#dr-delete-map-node {
    grid-column-start: tier-3-start;
    grid-row-start: center-6;
}