.story-container {
    grid-column-start: left-mod-start;
    grid-column-end: right-mod-end;
    grid-row-start: upper-mod-start;
    grid-row-end: upper-mod-end;

    display: grid;
    grid-template-columns: 50px [start] 1fr [end] 50px;
    grid-template-rows: 8% [start-objective] 5% [start-name] 8%
                        [start-description] 2fr [start-parent-poi] 1fr [req-bar-top] 70px
                        [req-bar-bottom] 10%;

    width: 100%;

    background-color: black;

    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
}

p.objective {
    grid-column-start: start;
    grid-column-end: end;
    grid-row-start: start-objective;
    grid-row-end: start-name;

    margin: 0px;

    text-align: right;
}



h3.poi-name {
    grid-column-start: start;
    grid-column-end: end;
    grid-row-start: start-name;
    grid-row-end: start-description;

    margin: 0px;
}

.description-container {
    display: flex;
    flex-wrap: wrap;

    grid-column-start: start;
    grid-column-end: end;
    grid-row-start: start-description;
    grid-row-end: start-help-text;

    height: max-content;
    line-height: 40px;
}

.description-container .word {
    margin-right: 5px;
    height: max-content;
}

.parent-poi-container {
    display: flex;

    grid-column-start: start;
    grid-column-end: end;
    grid-row-start: start-parent-poi;
    grid-row-end: end-help-text;

    line-height: 40px;
}

.parent-poi-container .word {
    margin-right: 5px;
    height: max-content;
}

.request-feedback {
    display: flex;
    justify-content: center;

    margin-top: 10px;

    grid-column-start: start;
    grid-column-end: end;
    grid-row-start: req-bar-bottom;

}

.request-feedback p {
    margin: 0px;
}