.request-container {
    grid-column-start: start;
    grid-column-end: end;
    grid-row-start: req-bar-top;
    grid-row-end: req-bar-bottom;

    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 10px;

    border-style: solid;
    border-width: 1px;
    border-color: deeppink;
}

.request-button {
    display: inline-block;
    width: 150px;
    height: 100%;
}

.tile-receiver-zone {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 90%;
    width: auto;

    border: aquamarine dashed 1px;
}

.method-receiver {
    position: relative;
    /* z-index: 0; */

    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */

    border-top: 48px solid #585858;
	border-left: 48px solid #585858;
	border-right: 15px solid transparent;

    height: 0px;
    width: 50px;

    margin-right: 5px;
}

.method-receiver .receiver-text {
    position: absolute;
    transform: translate(-24px, -34px);

    margin: 0px;
}

.method-receiver .method-tile {
    transform: translate(-43px, -43px);
}

/* .method-receiver {
    position: relative;
    z-index: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    

    height: 48px;
    min-width: 115px;

    margin-right: 5px;

    background-color: #585858;
} */

/* .method-receiver-subtract {
    position: absolute;
    right: 0%;
} */

.path-receiver {
    position: relative;

    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */

    border-bottom: 48px solid #585858;
	border-left: 15px solid transparent;
	border-right: 48px solid #585858;

    height: 0px;
    width: 97px;

    padding-left: 8px;
    padding-right: 8px;
    margin-right: 20px;

    /* background-color: #585858; */
}

.path-receiver .receiver-text {
    position: absolute;
    /* top: 0%; */
    left: 50%;
    transform: translateY(14px);

    margin: 0px;
}

.path-receiver .path-tile {
    position: absolute;
    transform: translate(-15px, 5px);
}

/* .path-receiver {
    position: relative;
    z-index: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 48px;
    width: fit-content;
    min-width: 100px;

    padding-left: 8px;
    padding-right: 8px;
    margin-right: 20px;

    background-color: #585858;
} */

.path-receiver-subtract {
    position: absolute;
    left: 0%;
}

.key-receiver {
    position: relative;
    z-index: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 48px;
    min-width: 146px;

    margin-right: 20px;

    background-color: #585858;
}

.item-receiver {
    position: relative;
    z-index: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 48px;
    min-width: 146px;

    margin-right: 10px;

    background-color: #585858;
}